{%extends "django_registration/base.html"%}
{% load static %}
{% load bootstrap4 %}
{% block styles %}
{% bootstrap_css%}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="col-md">
   {% for message in messages %}
   <p> {{ message}}</p>
   {% endfor%}

            <form action="/accounts/register/" method="post">
                <h3 class="text-center">Sign up</h3>
                {% csrf_token %}
                {% bootstrap_form form%}  
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-sm" value="sign up">
                </div>

                <span>Already have an account? <a href="accounts/login">login</a></span> 
                <input type="hidden" name="next" value="{{next}}">
                           
            </form>
</div>
</div>

{% endblock %}