{% load static%}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<nav class="navbar bg-dark" style="padding-bottom:20px">
  <a class="navbar-brand" href="#"><h1 style="font-family: 'Marck Script', cursive;font-weight: 800;font-size:36px;">Awwards</h1></a>
  <a class='btn btn-default'style="color:aliceblue;" href="{% url 'app:rates'%}">projects</a>
  <form class="form-inline my-2 my-lg-0">
    <button class="bg-dark"> <a href="/newproject" style="color:aliceblue;">submit project</a></button> 
  </form>
    <div class="buttons" style="float:right">
    
         <a class='btn btn-default'style="color:aliceblue;" href="/accounts/login/">Login</a>
         
         <a class='btn btn-default' style="color:aliceblue;" href="/logout">Logout</a>
    </div>
</nav>
<hr style="margin:0px;margin-bottom:20px; padding:0px">
{% endblock %}
