{% load static%}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}
<nav class="navbar">
  <a class="navbar-brand" href="#"><h1>Awwards</h1></a>
  <form class="form-inline my-2 my-lg-0">
    <button>submit project!</button> 
  </form>
    <div class="col-sm-6 col-md-6">
      {% if user.is_authenticated %}
      <li style="list-style-type: none;">
        <a href="/login">Login</a>
      </li>
      {% else %}
     
        <a class='btn btn-default' href="{% url 'app:login' %}">Login</a>

      {% endif %}
    </div>
</nav>
<hr>
{% endblock %}
